@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>Story Behind Innoseva</h3>
<p>As a part of Nepalese community living abroad, we have been worried about our family members back home in Nepal. We always want to be there when they need us; take care of their health and everyday welfare. Despite our best intensions and involvement, we are unable to overcome barriers such as

geographical distance
tendency of our family members in Nepal to not to go for regular checkup even if we ask them
right connections with health professionals and health institutions
efficient media for sharing health information
We established Innoseva with motivation to solve these common problems faced by Nepalese living around the globe. In the process, we also aim to serve economy by providing employment opportunities to young professionals.</p>
