@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Innoseva Nepal Pvt. Ltd.<br />
    Lampati, Soalte Mode, Kathmandu-14, NEPAL<br />
    Phone : (+977) 9860-389-435<br />
   
</address>

