

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Innoseva</h1>
    <p class="lead">Innovation Through People</p>
</div>

<h3 style="color:orangered">WELCOME TO  OUR SITE </h3>

<div class="row">
    <div class="col-md-4">
        <h2>Monitor</h2>
        <p>
            Our medical nurse will visit your home after taking appointment. Following measurements will be taken. Blood Pressure, Blood Sugar, Height, Weight, Temperature, Cholestrol etc.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Analyze</h2>
        <p>Medical doctor will then check all the information and provide comments and recommend follow ups.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Deliver</h2>
        <p>All this data along with all past data and photographs will be provided to you in an easy to understand format.</p>
       
    </div>
</div>